*.py[cod]
*~
.#*
._*
\#*\#
.cache

# C extensions
*.so

# Develoopment Environment
virtualenv_run
venv

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64
*.iml
*.log
/.venv.touch
/.venv.docs.touch
/virtualenv_run

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage*
/coverage-html
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/build
docs/code

# Vim
*.sw[nop]
.ropeproject

# idea
.idea/

# Cache
__pycache__

# tmp
tmp
out.txt
scratch

# Sublime
*.sublime-*

# Artificats
twistd.pid
logs/*.log
.bundle

# OS X
.DS_Store

#vim tags
tags
