include data_pipeline/schemas/envelope_v1.avsc
include data_pipeline/schemas/monitoring_message_v1.avsc
include data_pipeline/testing_helpers/docker-compose.yml
include CONTRIBUTING.rst
include HISTORY.rst
include README.md
include USAGE.rst
